/*HTML Tags*/

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  min-height: 100vh;
  background-image: url("../img/backdrop-home.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #011627;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "Nunito";
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #efffe9;
  justify-content: space-between;
  align-items: center;
}

a{
  text-decoration: none;
  color:#2ec4b6;
}

a:hover{
  text-decoration: none;
  color:#e71d36;
}

nav {
  -webkit-user-select: none;
  margin-right: 1em;
  height: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav ul a {
  font-weight: bold;
  font-family: "Nunito";
  padding: 1em;
  border-radius: 1px;
  text-decoration: none;
  color: #efffe9;
  transition: .9s ease;
}

nav ul a:hover {
  background: #2ec4b6;
  color:#efffe9;
}

nav ul li {
  list-style-type: none;
}
footer {
  height: 2em;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #efffe9;
}

footer p {
  font-family: "Lato";
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

/*Generic*/

.accent {
  color: #e71d36;
}

.hidden {
  display: none;
  transition: 1s ease;
}

.container {
  margin:1em 0;
  width: 100%;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #efffe9;
}

.btn {
  background: #2ec4b6;
  padding: 1em;
  font-family: "Lato";
  border-radius: 1px;
  transition: 0.5s ease;
  color:White;
}

a .btn {
  text-decoration: none;
  color: white;
}

a .btn:hover {
  text-decoration: none;
}

.btn:hover {
  background: #e71d36;
}

.btn-large {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  width: 10em;
}

.page-title {
  -webkit-user-select: none;
  font-size: 2em;
}

/*Specific*/

.logo-image {
  margin-left: 0.5em;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.logo-image img {
  align-self: center;
  height: 6em;
  width: 6em;
}

.logo-image h3 {
  transition: all 1s ease;
}

#quoted-line {
  display: flex;
  justify-content: center;
  margin: 1em;
}

#quoted-line p {
  font-family: "Nunito";
  font-size: 1.3em;
  margin: 0.2em;
}

@media screen and (max-width:768px) {
  header{
    justify-content: center;
  }
  .logo-image{
    margin:0 auto;
    display: flex;
    justify-content: center;
  }

  .logo-text{
    display: none;
  }
}
